<meta charset="UTF-8">
<title>System Activity Monitor</title>
<link rel="stylesheet" href="assets/css/bootstrap-4.3.1.min.css">
<link rel="stylesheet" href="assets/css/jquery.dataTables-1.10.19.min.css">
<style>
  body {
    padding-top: 50px;
  }
</style>
<script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/bootstrap-4.3.1.min.js"></script>
<script src="assets/js/jquery.dataTables-1.10.19.min.js"></script>
