<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <main>
    <div class="jumbotron">
      <h1>System Activity Monitor</h1>
      <h5>Data shown for last hour</h5>
      <br />
      <% include ../partials/table %>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
