<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<main>
    <div class="jumbotron">
        <h1>System Activity Monitor</h1>
        <pre><%= JSON.stringify(systems) %></pre>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
